*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Tienne", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #3D3B3C;
    display: flex;  flex-direction: column;
    align-items: center;
}

header{
    width: 100%;    height: 50px;
    background: #323031;
    align-content: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

button{
    max-height: 80%;    width: 10%;
    font-size: auto;
    background: grey;
    border-radius: .4rem;
}

header button{
    margin-top: auto;   margin-bottom: auto;
    padding: 2px;
    font-size: 20px;
}

.middle{
    position: relative;
    width: 80%; min-height: 95vh;
    background: #7F7979;
    display: flex;  flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.article{
    position: relative;
    width: 90%; height: auto;
    margin: 2%; padding: 2%;
    background: #C1BDB3;
    border-radius: .4rem;
    justify-content: center;
    align-items: center;
}

.content{
    width: 80%; height: auto;
    padding: 2%;
    background: #C1BDB3;
    border-radius: .4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input[type=text]{
    margin: 2%;
    width: 40%; 
    font-size: 20px;
    padding: 2%;
    border-radius: .4rem;
}

input[type=password]{
    width: 40%;
    font-size: 20px;
    padding: 2%;
    border-radius: .4rem;
    margin: 2%;
}

input[type=submit]{
    width: 80%;    padding: 2%;
    margin-left: auto;  margin-right: auto;
    background-color: #5F5B6B  ;
    border-radius: .4rem;
    font-size: 20px; 
    color: #E3F2FD;
    margin: 4%;
}

select{
    margin: 2%;
    width: 40%; 
    font-size: 20px;
    padding: 2%;
    border-radius: .4rem;
}

.content button{
    width: 80%;    padding: 2%;
    margin-left: auto;  margin-right: auto;
    background-color: #5F5B6B  ;
    border-radius: .4rem;
    font-size: 20px; 
    color: #E3F2FD;
    margin: 4%;
}